<div class="contents-wrap" id="git">
    <div>
        <h2>Git이란?</h2>
        <b>분산 버전 관리 시스템(DVSC)</b>
        <p>1. 분산</p>
        <p class="desc-box">프로젝트를 여러 컴퓨터에 분산하여 개발할 수 있습니다.<br>
            하나의 프로젝트, 같은 파일을 여러 사람이 동시에 작업하는 병렬 개발이 가능합니다.
            즉, 협업에 유용합니다. </p>
        <p>2. 버전 관리</p>
        <p class="desc-box">개발할 때 프로젝트의 버전을 관리하고 기록하여 프로젝트의 히스토리를 파악할 수 있습니다.<br>
            프로젝트의 히스토리가 있으면, 프로젝트를 이전 상태로 되돌릴 수 있고, 수정된 부분을 확인할도 수 있습니다.
            어디서 문제가 발생했는지 추척 또한 가능합니다.</p>
    </div>
    <div>
        <h2>Git을 사용하는 두 가지 방법</h2>
        <p>1. CLI (Command Line Interface)</p>
        <p class="desc-box">터미널에 명령줄을 입력해서 사용할 수 있습니다.<br>
            ex) Mac의 터미널, Windows의 cmd, Powershell, git bash<br>
            👉git을 사용할 때 git bash를 사용하는 걸 권장합니다.</p>
        <p>2. GUI (Graphical User Interface)</p>
        <p class="desc-box">일반 사용자들이 사용하기 편하도록 그래픽으로 나타낸 것입니다. 클릭 몇번으로 git을 사용할 수 있죠.<br>
            ex) Sourcetree, GitHub Desktop, GitKraken 등</p>
        <p class="desc">대부분의 개발자는 CLI로 Git을 사용합니다.
            Git 명령어를 사용할 때는 CLI로 입력하고, 프로젝트의 전체적인 히스토리를 시각적으로 볼 때 GUI를 사용하는 걸 추천합니다.</p>
    </div>
</div>