<div class="contents-wrap" id="github">
    <h2>Github란?</h2>
    <p class="desc-box">Git 원격 저장소를 제공하는 웹 서비스입니다.<br>
        전세계의 무수한 오픈 소스 프로젝트가 공유되어 있어 다양한 오픈 소스 프로젝트를 볼 수 있습니다.</p>
    1. Github에 원격 저장소 만들기<br>
    <img src="/static/img/github_1.png">
    <p class="desc">- New Repository 클릭하기</p>
    <img src="/static/img/github_2.png">
    <p class="desc">- Repository name 작성하고 생성하기.<br>(README 파일은 프로젝트를 설명하는데 필요한 파일로써 옵션 사항입니다.)</p>
    <img src="/static/img/github_3.png"><br>
    <p class="desc">- Reposityro 생성을 완료했습니다. 주소를 복사합니다.</p>

    2. 원격 저장소에 내 프로젝트 올리기
    <p class="desc">Working Directory의 터미널에서 진행합니다.</p>
    <div class="code-head"><span style="color: lawngreen"> me@work</span><span
            style="color: deeppink">  MINGW64 ~</span>
    </div>
    <p class="code">git init<br>git add .<br>git commit -m "first commit"<br>git remote add origin [원격 저장소
        주소]<br>
        git push -u origin main</p>
    <p class="desc-box">1. git 저장소를 만들어줍니다.<br>2. 전체 파일을 스테이징합니다.<br>
        3."first commit"이라는 커밋을 생성합니다.
        <br>4.만들어둔 원격 저장소와 연결합니다. <br>5. 원격 저장소로 push합니다.<br>
        <span style="font-size: 0.8em">(-u 옵션은 push할 때 기본적으로 origin main으로 push하겠다는 의미입니다. 다음에
            push할 때 'git push'만 작성해도 origin main으로 push됩니다.)</span></p>


</div>