<div class="contents-wrap">
    <h2>Pull requests (PR)</h2>
    <p class="desc-box">협업 시 나의 작업 내역을 main 브랜치에 바로 merge 하는 것이 아니라, 프로젝트의 관리자에게 먼저 리뷰를 받고 승인 후에 main 브랜치에 merge할 수
        있습니다.<br>
        PR은 나의 작업 내역을 리뷰하고 merge해달라고 요청하는 것입니다.
    </p>
    <p>1. Fork하기</p>
    <img src="http://i.imgur.com/ufBroYo.png">
    <p class="desc-box">타겟 프로젝트의 저장소를 나의 저장소로 Fork합니다. Fork를 하게 되면 자신의 계정에 새로운 저장소가 생성됩니다.</p>
    <p>2. clone하기</p>
    <img src="http://i.imgur.com/bi6V5Lq.png">
    <p class="desc-box">나의 로컬에 해당 프로젝트를 clone합니다.</p>
    <p>3. branch 생성 후 push하기</p>
    <p class="desc-box">나의 작업은 새로운 브랜치를 생성하여 그 곳에서 작업을 합니다. 작업이 완료되면 자신의 원격 저장소로 push합니다.</p>
    <p>4. PR 보내기</p>
    <img src="/static/img/pr.PNG">
    <p class="desc-box">New pull request를 클릭하고 나의 작업 내역을 설명한 뒤 PR을 보냅니다. 그럼 PR을 받은 원본 저장소의 관리자는 코드 변경 내역을 확인하고 Merge여부를 결정합니다.</p>
</div>