<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>Sign in to GitHub Tutorials</title>
    <link rel="stylesheet" href="{% static 'account/css/password_reset.css' %}">
</head>
<body>
    <div id="password_reset_wrap">
      <h3>비밀번호 초기화</h3>
      <p>비밀번호를 잊으셨나요? 이메일을 입력하시면, 비밀번호 초기화 이메일을 전송해 드리겠습니다.</p>
      <form method="POST" action="/accounts/password/reset/" class="password_reset">
        {% csrf_token %}
    <label for="id_email">Email:</label>
    <input type="email" name="email" placeholder="Email Address" autocomplete="email" required id="id_email">
    <button class="verifi_btn" type="submit">비밀번호 초기화</button>
    </div>
    <div id="account_wrap">
      <button class="verifi_btn" onclick="window.location.replace('{% url 'account_login' %}')"> Login 
      <button class="verifi_btn" onclick="window.location.replace('{% url 'account_signup' %}')"> Sign-Up </button>
    </div>
</body>
</html>