<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Sign in to GitHub Tutorials</title>
    <link rel="stylesheet" href="{% static 'account/css/password_reset.css'%}">
</head>
<body>
    <div id="password_reset_wrap">
      <h3>비밀번호 변경</h3>
      <form method="POST" action="/accounts/password/change/" class="password_change">
        <input type="hidden" name="csrfmiddlewaretoken" value="30l4ynQ7ICecsqY0Rueguc2Z6apFES45w8AoUJZTgwtIH7PjGo7y1igzdXuuV0wF">
        <p>
    <label for="id_oldpassword">현재 비밀번호:</label>
    <input type="password" name="oldpassword" placeholder="현재 비밀번호" autocomplete="current-password" required="" id="id_oldpassword">
  </p>
  <p>
    <label for="id_password1">새 비밀번호:</label>
    <input type="password" name="password1" placeholder="새 비밀번호" autocomplete="new-password" required="" id="id_password1">
  </p>
  <p>
    <label for="id_password2">새 비밀번호 (확인):</label>
    <input type="password" name="password2" placeholder="새 비밀번호 (확인)" required="" id="id_password2">

  </p>

    </form>
    </div>
    <div id="account_wrap">
      <button class="verifi_btn" onclick="window.location.replace('{% url 'account_login' %}')"> Login 
      <button class="verifi_btn" onclick="window.location.replace('{% url 'account_signup' %}')"> Sign-Up </button>
    </div>
</body>
</html>