<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>Sign in to GitHub Tutorials</title>
    <link rel="stylesheet" href="{% static 'account/css/password_reset.css' %}">
</head>
<body>
    <div id="password_reset_wrap">
      <h3>비밀번호 초기화 이메일 전송완료</h3>
      <p>요청하신 이메일로 비밀번호 초기화 관련 메일을 발송드렸습니다.</p>
      <p>몇분이내에 이메일이 도달하지 않은경우,</p>
      <p>스팸메일함을 확인해주세요.</p>
      <p>그래도 메일이 없을경우 연락부탁드립니다.</p>
      <p>rrcomp13@gmail.com</p>
      
    <div id="account_wrap">
      <button class="verifi_btn" onclick="window.location.href='{% url 'account_login' %}'"> Login 
      <button class="verifi_btn" onclick="window.location.href='{% url 'account_signup' %}'"> Sign-Up </button>
    </div>
</body>
</html>