<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>Sign in to GitHub Tutorials</title>
    <link rel="stylesheet" href="{% static 'account/css/password_reset.css' %}">
</head>
<body>
    <div id="password_reset_wrap">
      <h3>비밀번호 변경</h3>
      <form method="POST" action="/accounts/password/reset/key/8-set-password/">
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="ox3LyIOia3KdsyyxSbSlHqXwCpKKPQUbCdmw79e3Lc6nToJYo1lSxaqpVsDFwnyA">
        <p>
        <label for="id_password1">새 비밀번호:</label>
        <input type="password" name="password1" placeholder="새 비밀번호" autocomplete="new-password" required id="id_password1">
        </p>
        <p>
        <label for="id_password2">새 비밀번호 (확인):</label>
        <input type="password" name="password2" placeholder="새 비밀번호 (확인)" required id="id_password2">
        </p>
        <input class="verifi_btn" type="submit" name="action" value="비밀번호 변경"/>
    </form>
    </div>
    <div id="account_wrap">
      <button class="verifi_btn" onclick="window.location.href='{% url 'account_login' %}'"> Login 
      <button class="verifi_btn" onclick="window.location.href='{% url 'account_signup' %}'"> Sign-Up </button>
    </div>
</body>
</html>