<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>Sign in to GitHub Tutorials</title>
    <link rel="stylesheet" href="{% static 'account/css/password_reset.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/x-icon">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> 
    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="password_reset_wrap">
      <h3>비밀번호 초기화</h3>
      <p>비밀번호를 잊으셨나요? 이메일을 입력하시면, 비밀번호 초기화 이메일을 전송해 드리겠습니다.</p>
      <form method="POST" action="/accounts/password/reset/" class="password_reset">
        {% csrf_token %}
    <label for="id_email">Email:</label>
    <input type="email" name="email" placeholder="Email Address" autocomplete="email" required id="id_email">
    <p id="check_false" style="text-align: center; color:coral"></p>
    <div style="display: flex; justify-content: center; align-items: center;">
      <button id="email_check_btn" disabled class="verifi_btn" type="submit" style="align-self: center;">비밀번호 초기화</button>
    </div>
    </div>
    <div id="account_wrap">
      <button class="verifi_btn" type="button" onclick="window.location.href=('{% url 'account_login' %}'"> Login 
      <button class="verifi_btn" type="button" onclick="window.location.href=('{% url 'account_signup' %}'"> Sign-Up </button>
    </div>
    <script src="{% static 'account/js/password_reset.js' %}"></script>
</body>
</html>