<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
</head>
<body>
    <input type="email" id="email">
    <input type="password" id="password">
</body>
<script>
$(document).ready(function(){
    $('#password').hide()
})
    $('#email').on('input', function () {
        idcheck()
    })
    async function idcheck() {
        let email = $("#email").val()
        const response = await fetch("/api/v1/user/idcheck", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({'EMAIL':email})
    })
    .then(response => response.json())
    console.log(response['result'])
    if (response['result'] == "success"){
        $('#password').show()
    } else {
        $('#password').hide()
    }
    }
    
</script>
</html>