body {
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#password_reset_wrap {
  background-color: #161b22;
  border-radius: 16px;
  border: solid 2px #20262b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  padding: 10px 10px;
  width: 650px;
}

#password_reset_wrap h3 {
  color: #fff;
}

#password_reset_wrap p {
  color: #fff;
}

#account_wrap {
  background-color: #161b22;
  border-radius: 16px;
  border: solid 2px #20262b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 10px 10px;
  width: 650px;
}

#account_wrap button {
  color: #fff;
  cursor: pointer;
  margin: 0 30px;
}

.verifi_btn {
  margin-top: 16px;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: solid 2px #3e924b;
  background-color: #238636;
  color: white;
}
.verifi_btn:hover {
  background-color: #39d353;
  transition-duration: 1s;
}
