body {
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sign_up_box {
  background-color: #161b22;
  border-radius: 16px;
  border: solid 2px #20262b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  padding: 10px 10px;
  width: 350px;
}
#top_text {
  color: white;
}
#sign_up_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px 0;
}
.input_item_wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.input_item_wrapper div > label {
  color: white;
}
.input_field {
  width: 300px;
}
.input_field {
  width: 300px;
  margin-top: 6px;
  background-color: #0d1117;
  border-radius: 8px;
  border: solid 2px #20262b;
  height: 30px;
  color: #7f8c8d;
}
.input_field:focus {
  outline: solid 4px #0c2d6b;
  border: solid 2px #1f6feb;
}
.sign_up_btn {
  margin-top: 16px;
  width: 300px;
  height: 30px;
  border-radius: 8px;
  border: solid 2px #3e924b;
  background-color: #238636;
  color: white;
}
.sign_up_btn:hover {
  background-color: #39d353;
  transition-duration: 1s;
}

.linked_text {
  text-decoration: none;
  color: #529aeb;
}
.normal_text {
  color: white;
}

#password1_show,
#password2_show {
  position: absolute;
  top: -26px;
  right: 15px;
  color: #95a5a6;
  width: 20px;
  cursor: pointer;
}
.check_text {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 12px;
  color: #2ecc71;
}

.input_item_wrapper div {
  position: relative;
}

.check_false {
  margin-left: 5px;
  margin-top: 5px;
  color: red;
  width: 10px;
}

.check_true {
  margin-left: 5px;
  width: 15px;
  color: #2ecc71;
}

.alert-error {
  color: #e74c3c;
  margin-top: 15px;
  font-size: 14px;
}
