* {
  font-family: "Nanum Gothic", sans-serif;
  font-size: smaller;
  font-weight: bold;
}

.desktop-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #1b1a2a;
  opacity: 0.9;
}

#history-title {
  color: white;
  margin: 3vh auto 3vh 15vw;
}

#history-title p {
  width: 100%;
  font-size: 4rem;
  letter-spacing: 0.015em;
  cursor: pointer;
}

.contents-container {
  width: 70vw;
  height: 80vh;
  margin: auto;
  border-radius: 10px;
  background: #0f0e17;
  opacity: 0.9;
  display: flex;
  align-items: center;
}

.history-index-container {
  width: 20%;
  height: 90%;
  border-radius: 7px;
  background: white;
  margin-left: 2vw;
  opacity: 0.8;
  box-shadow: 2px 2px 5px black;
  overflow: auto;
  -ms-overflow-style: none;
}

.history-index {
  width: 80%;
  margin-top: 3vh;
  margin-left: 2vw;
  overflow: auto;
}

.history-index-container::-webkit-scrollbar {
  display: none;
}

.history-intro {
  margin-top: 10vh;
}

.history-index > div {
  margin-top: 3vh;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.history-index > div > li {
  font-size: 1.2rem;
  font-weight: lighter;
  cursor: pointer;
}

.history-intro:hover {
  font-size: 1.7rem;
  cursor: pointer;
}

.history-index > div > li:hover {
  font-size: 1.4rem;
}

#github-image {
  width: 100%;
  height: 25%;
  margin: 3vh auto;
}

#github-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.contents-area {
  width: 71%;
  height: 90%;
  border-radius: 7px;
  background: white;
  margin-left: 2vw;
  opacity: 0.9;
  padding: 3%;
  box-shadow: 2px 2px 8px black;
  font-size: 1.8rem;
  overflow-y: auto;
}

.subtitle {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px gray;
}

.contents-area::-webkit-scrollbar {
  width: 0.5vw;
  background-color: lightgray;
}

.contents-area::-webkit-scrollbar-thumb {
  height: 17%;
  border-radius: 10px;
  background-color: #343450;
}

@media screen and (max-width: 1650px) {
  .history-index > div {
    font-size: 1.3rem;
  }

  .history-index > div > li {
    font-size: 1rem;
    cursor: pointer;
  }

  .history-index > div > li:hover {
    font-size: 1.2rem;
    font-weight: bold
  }
  .history-intro:hover {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1260px) {
  .history-index > div {
    font-size: 1.1rem;
  }

  .history-index > div > li {
    font-size: 0.8rem;
    font-weight: lighter;
    cursor: pointer;
  }

  .history-index > div > li:hover {
    font-size: 1rem;
    font-weight: bold;
  }
  .history-intro:hover {
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1020px) {
  .history-index > div {
    font-size: 0.6rem;
  }

  .history-index > div > li {
    font-size: 0.4rem;
    font-weight: lighter;
    cursor: pointer;
  }

  .history-index > div > li:hover {
    font-size: 0.6rem;
    font-weight: bold;
  }
  .history-intro:hover {
    font-size: 0.8rem;
    cursor: pointer;
  }
}