<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <title>GitRINI - History</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'history/css/history_style.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> 

</head>
<body>
<div class="desktop-screen">
    <div id="history-title"><p onclick="window.location.replace('{% url 'main' %}')">Github History</p></div>
    <div class="contents-container">
        <div class="history-index-container">
            <div id="github-image"><img src="{% static 'history/img/github-icon.svg.png' %}" onclick="window.location.replace('{% url 'main' %}')"></div>
            <div class="history-index">
                <div class="history-intro">- Intro</div>
                <div>- 역사적 배경
                    <li class="contents-1">Unix의 탄생과 성장</li>
                    <li class="contents-2">GNU의 등장</li>
                    <li class="contents-3">Linux의 탄생배경</li>
                    <li class="contents-4">Linux with GNU</li>
                </div>
                <div>- 기술적 배경
                    <li class="contents-5">버전관리시스템(VCS)</li>
                    <li class="contents-6">DVCS & Bitkeeper</li>
                    <li class="contents-7">git의 시작</li>
                    <li class="contents-8">github 그리고 지금</li>
                </div>
            </div>
        </div>

        <div class="contents-area">
            <div class="contents-box" id="history-intro">
                <p class="subtitle">시작하기에 앞서...</p>
                <p><br>Github를 사용하면서 문득 왜 이렇게 어렵게 파일을 주고받지? 이걸 왜 써야 하는 거지? 와 같은 생각 다들 해보셨을겁니다.</p>
                <p>여러분들이 깃허브를 공부해야하는 이유는 다양하겠지만, 단순히 사용법 만을 익히는 것 보다 위 질문에 대한 이유를 깨닫고</p>
                <p>어떤 상황속에서 깃허브가 탄생했는지 그 역사에 대해 알게되시면 훨씬 더 깊은 통찰과 동기부여를 얻을 수 있으실 겁니다.</p>
            </div>

            <div class="contents-box" id="contents-1">
                <p class="subtitle">Unix의 탄생과 성장</p>
                <p><br>- 1965년 MIT, AT&T 벨 연구소, General Electric에서 공동으로 멀티태스킹, 멀티유저를 지원하는 운영체제의 prototype 제작을 목표로 Multics 프로젝트에 착수 하였습니다. 그러나 시간이 경과함에 따라 초기 설계 목표와는 다르게 비대해지고 쓸모없는 운영체제로 변모하게 되었습니다.</p>
                <p><br>- 이 프로젝트에 참여했던 Kenneth Thompson과 몇몇 연구원들은 실패에 굴하지 않고 프로그램 연구를 효과적으로 수행하기에 적합한 환경을 만들어보자는 취지로 계속해서 운영체제 개발에 몰두했고, 그렇게 UNIX가 탄생하게 됩니다.</p>
                <p><br>- 당시에는 하드웨어 운영 프로그램들이 서로 다른 어셈블러로 작성되어 있었고, 초기의 UNIX 또한 기계 의존적이며, 기종간 호환성이 떨어져 다양한 소프트웨어를 제공할 수 없는 상황이었으나 1973년 Dennis Ritchie가 C언어를 개발한 뒤 UNIX또한 C언어로 재작성 되어, 위와 같은 문제를 해결하게 됩니다.</p>
                <p><br>- UNIX는 주로 연구와 학습을 목적으로 대학과 연구소 등에 무료로 배포되었고, 이를 이용하는 프로그래머들 또한 자연스레 서로에게 필요한 프로그램을 공유하는 공동체 분위기가 조성됩니다. 하지만 MIT 인공지능 연구소에서 특정 연구내용을 상업화 하려는 움직임이 생겨나게 되자 이러한 조류에 반감을 가지게 된 이들을 주축으로 GNU 프로젝트가 탄생하게 됩니다.</p>
            </div>

            <div class="contents-box" id="contents-2">
                <p class="subtitle">GNU의 등장</p>
                <p><br>- MIT 인공지능 연구소의 일원이었던 Richard Stollman은 소스를 공개하지 못하도록 하는 분위기와 기술을 상업화 하려는 움직임에 반감을 가지게 됩니다. 그는 MIT 연구원직을 사임하고 모두가 자유롭게 사용할 수 있는 UNIX 시스템을 위해 GNU(GNU is Not Unix)프로젝트를 시작하게 되었습니다.</p>
                <p><br>- GNU프로젝트로 개발된 Emacs에 대한 사용자들의 관심이 높아지자 1985년 Stollman은 프로젝트의 운영을 위해 FSF(Free Software Foundation)을 설립하고 GNU프로그램들을 배포 라이센스인 GPL(General Public License)하에서 판매하여 운영자금으로 사용하게 됩니다.</p>
                <p><br>- GNU 프로젝트는 거의 완성단계에 이르렀으나, 운영체제의 핵심인 커널이 빠져있는 상태였습니다. Stollman은 Mach를 기반으로 한 새로운 커널을 개발하기 시작하였으나 여러 가지 이유로 GNU커널의 개발은 좀처럼 진척되지 않았습니다.</p>
            </div>

            <div class="contents-box" id="contents-3">
                <p class="subtitle">Linux의 탄생배경</p>
                <p><br>- 1991년 핀란드의 헬싱키에서는 Linus Torvalds에 의해 GNU시스템에 적합한 커널이 개발되고 있었습니다. 당시 21세 대학생이었던 리누스는 Andrew Tanenbaum교수가 학습용으로 개발한 MINIX를 사용하던 중 좀 더 오픈소스화된 운영체제가 필요하다 생각하게 됩니다.</p>
                <p><br>- 그는 MINIX 사용자 모임에서 본인의 프로젝트가 단지 취미이며 GNU처럼 거대하거나 전문적인 것은 아니라고 하였습니다. 초기의 Linux는 이식성이 고려되지 않는 그저 UNIX와의 호환성을 염두에 둔 운영체계를 목표로 하였습니다. 가장 초기 버전인 0.01은 기본적인 커널만을 포함하고 있었고 공식 버전인 0.02때 Bash(GNU Bourne Again Shell)와 GCC(GNU C Compiler) 정도가 실행 될 수 있는 수준이었습니다.</p>
                <p><br>- 허나 이후 리눅스는 0.95버전까지의 발전을 통해 인텔 x86칩에서 사용이 가능해 졌고, 그래픽 사용자 인터페이스까지 추가되자, GNU커널 개발에 난항을 겪고 있던 스톨먼과 FSF재단은 UNIX 커널과 호환이 가능한 Linux를 GNU시스템의 커널로 채택하기로 합니다.</p>
            </div>

            <div class="contents-box" id="contents-4">
                <p class="subtitle">Linux with GNU</p>
                <p><br>- Linux는 GNU의 강력한 C 컴파일러인 GCC로 많은 응용프로그램들을 가질 수 있게 되었고, 둘의 결합으로 GNU시스템은 완전한 구조를 갖추게 되었습니다. 이 후에도 Linux의 커널 부분은 Linus Torvalds의 주도하에 계속 개발되었는데, 리누스는 최대한 확장 가능하며, 사용자에게 제어권이 주어지는, 그리고 어떠한 인터페이스에도 종속되지 않도록 개발하고자 하는 의지를 보이게 됩니다.</p>
                <p><br>- 결과적으로 Unix의 상업적 확산에 반발하여 거대한 오픈 소스 프로젝트가 된 GNU는 GPL과 함께 지금까지도 집단지성을 통한 기술 발전에 기여하고 있습니다.</p>
                <p><br>#참고내용 - GPL에 따른 5가지 의무<br>
                   1. 컴퓨터 프로그램을 어떠한 목적으로든지 사용할 수 있다. 다만 법으로 제한하는 행위는 할 수 없다.<br>
                   2. 컴퓨터 프로그램의 실행 복사본은 언제나 프로그램의 소스 코드와 함께 판매하거나 소스코드를 무료로 배포해야 한다.<br>
                   3. 컴퓨터 프로그램의 소스 코드를 용도에 따라 변경할 수 있다.<br>
                   4. 변경된 컴퓨터 프로그램 역시 프로그램의 소스 코드를 반드시 공개 배포해야 한다.<br>
                   5. 변경된 컴퓨터 프로그램 역시 반드시 똑같은 라이선스를 취해야 한다. 즉 GPL 라이선스를 적용해야 한다.<br>
                </p>
            </div>

            <div class="contents-box" id="contents-5">
                <p class="subtitle">VCS(Version Control System)</p>
                <p><br>- 개발 혹은 프로젝트를 하다보면 다양한 문제에 봉착하게 되곤하죠, 다음과 같은 사례를 생각해 봅시다.</p>
                <p> 1. 모종의 이유로 작업중인 프로젝트를 과거의 어떤 시점으로 돌려야 하는 경우<br>
                    2. 문서 라벨만으로는 어떤것이 가장 최근 작업인지 알기 어려운 경우<br>
                    3. 작업물이 유실되거나 손상되어 복구가 필요한 경우 등
                </p>
                <p><br>- 위와같은 문제들에 대응하기 위해 버전관리 시스템(VCS)이 등장하게 됩니다.</p>
                <p><br>- VCS는 작업물 전체를 복사하여 그 수정본을 저장/관리하는 것이 아니라, 각 버전의 수정된 부분만을 기록/보관 해주었기 때문에 중복 내용에 대한 부담없이 효율적으로 사용할 수 있었습니다.</p>
                <p><br>- 하지만 VCS는 로컬에서만 사용이 가능했기 때문에 협업에 쓰기 힘들었으며, 컴퓨터의 물리적 파손이나 바이러스, 실수에 의한 파일 삭제등 문제가 생겼을 시에 데이터 복구가 불가능하다는 단점을 가집니다.</p>
                <p class="subtitle"><br>CVCS(Centralized Version Control System)<br></p>
                <p><br>- VCS의 단점을 보완하기 위해 만들어진 시스템 입니다</p>
                <p><br>- 중앙 집속식 VCS로써 파일을 관리하는 서버가 따로 존재하며, 사용자는 서버로부터 파일을 다운받아 사용합니다</p>
                <p><br>- 협업이 가능해 졌다는 장점이 있으나 사용시에 주의를 많이 기울여야 했습니다</p>
                <p><br>- 서버가 다운될 경우 그동안 협업이 불가능해지며 작업중인 내용의 백업또한 할 수 없습니다</p>
                <p><br>- DB가 있는 하드디스크에 문제가 생길경우 프로젝트의 모든 히스토리를 잃을 수 있습니다.</p><br>
            </div>

            <div class="contents-box" id="contents-6">
                <p class="subtitle">DVCS(Distributed Version Control System)</p>
                <p><br>- CVCS의 문제점들을 해결하기 위해 고안된 시스템 입니다.</p>
                <p><br>- 서버가 따로 있는것은 CVCS와 동일하지만 프로젝트 전체를 로컬로 받아온 뒤 작업을 진행한다는 점이 다릅니다.</p>
                <p><br>- 서버가 다운되더라도 사용자들은 작업을 이어 나갈 수 있으며, 유사시에 복구도 가능합니다</p>
                <p><br>- 소스코드에 대한 수정이 개별적으로 이뤄지기 때문에 충돌이 일어날 일이 적습니다.</p>
                <p class="subtitle"><br>Bitkeeper<br></p>
                <p><br>- Linux가 점차 입지를 넓혀가는 시기 Linux커널은 Bitkeeper라고 하는 DVCS를 사용하고 있었습니다.</p>
                <p><br>- 당시 Bitkeeper는 유료로 제공되던 서비스였으나 Linux의 철학을 이해하고 성장가능성을 높이샀기에 Linux 커뮤니티 에게 만큼은 해당 서비스를 무료로 제공 했었죠</p>
                <p><br>- 하지만 이런 기조 속에서 Linux커뮤니티 내 한 개발자가 Bitkeeper의 통신 프로토콜을 리버스 엔지니어링(컴파일된 결과물로 부터 소스코드를 거꾸로 읽어내는 방법, 해킹에 주로 사용됨)을 하는 사건이 발생하여 Bitkeeper와 Linux커뮤니티 사이에 갈등이 발생하게 됩니다.</p>
                <p><br>- 이에따른 결과로 Bitkeeper는 Linux커뮤니티에서 더이상 무료로 서비스를 사용하지 못하도록 라이센스를 제한하게 되고, Linus Torvalds씨는 고민에 빠지게 됩니다.</p>
                <p><br>** 그냥 돈주고 쓰면되지 할 수도있지만, Linux의 철학자체가 오픈소스를 추구하며 프로그램 판매시에 소스코드도 함께 제공되어야 한다는 GNU이념에 반한다는 점을 기억해 주세요!</p><br>

            </div>

            <div class="contents-box" id="contents-7">
                <p class="subtitle">Git의 시작</p>
                <p><br>- Bitkeeper를 더이상 사용할 수 없게된 Linus Torvalds씨는 당장 이를 대체할 분산형 버전관리 시스템이 필요하게 되었고, 몇가지 개선해야할 사항을 고려 후 홧김에 뚝스딱스 개발하여 세상에 내놓게 된것이 Git입니다. </p>
                <p><br>- Git은 아래와 같은 요건을 만족시키도록 설계 및 구현되었습니다.<br>
                    1. 빠른 속도<br>
                    2. 단순한 구조(이젠 더이상 단순하지 않지만..)<br>
                    3. 비선형적 개발 방식 지원(전세계 개발자가 온/오프라인 상관없이 개발하고 기여할 수 있게 만들어줌)<br>
                    4. 완벽한 분산처리 방식<br>
                    5. Linux 커널과도 같은 대형 프로젝트도 감당할 수 있을 것
                </p>
                <p><br>- Git은 이후 Linux를 대표로 하는 오픈소스 커뮤니티와 함께 지속적으로 성장 및 개선되어 왔고 현재는 사실상 오픈소스 생태계의 표준 버전관리 시스템 역할을 담당하고 있습니다.</p>
            </div>

            <div class="contents-box" id="contents-8">
                <p class="subtitle">Github 그리고 지금</p>
                <p><br>- 이전 내용까지 읽으신 분들은 맥락상 Github가 Linus씨에 의해 만들어진 것이라고 오해하실 수도 있습니다만 아닙니다! 여러분들이 알고계신 Github와 달리 Git의 공식 웹사이트가 https://git-scm.com 인 것만 봐도 서로 다름을 추론할 수 있죠. 실제 Github.com 플랫폼은 Tom Preston-Werner, Chris Wanstrath, P. J. Hyett에 의해 만들어졌으며, 2007년 말부터 수개월의 베타버전이 제공된 후 2008년 4월 본격적으로 서비스를 시작하였습니다.</p>
                <p><br>- Git은 DVCS로써 원격 저장소역할을 담당할 PC를 계속 켜두고 이용해야 하기 때문에 물리적인 관리가 쉽지 않습니다. 이때문에 24시간 가동이 가능한 원격 저장소를 클라우드 형식으로 호스팅해주고자 Github가 탄생하게 된 것이죠.<br>
                <p><br>- 사실상 가장 강력한 버전관리 시스템임과 동시에 편의성까지 갖춘 Github는 오늘날 개발자들에겐 없어선 안될 필수적인 도구로 발돋움 하게 됩니다.</p>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'history/js/history.js' %}"></script>

</body>
</html>