<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>Let's Git it! Git LINI</title>
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main_page.css' %}" />
</head>
<body>

</div>
{% include 'nav.html' %}
{% block navbar %}
{% endblock %}
<div id="title_container">
    <div id="scroll_down_notice_wrapper">
        <p id="scroll_down_text" class="extended-font0">Scroll down and checkout our service.</p>
        <img id="down_arrow" src="{% static 'main/img/down_arrow.gif' %}">
    </div>
    <div class="project_title_wrapper">
        <h2 id="project_title_sub_text" class="extended-font0">Let's Git it</h2>
        <h1 id="project_title_text" class="extended-font0"><span class="text"></span><span class="blink">|</span></h1>
    </div>
</div>
<div id="info_container" class="item_container">

    <h2 class="info_text_h2">저희 서비스는 어떤 서비스 인가요?</h2>
    <div class="info_wrapper">
        <div class="info_item_box">
            <h3 class=info_text_h3>About Git</h3>
            <img class="info_img"src="{% static 'main/img/history_prev.png' %}" alt="history_prev">
            <p class="info_desc"></p>About Git 에서 git 그리고 github 의 등장배경부터 발전해온 발자취를 한번 배워보세요!<br> 왼쪽의 인덱스를 통해 해당되는 내용들을 볼 수 있습니다.</p>
        </div>
        <div class="info_item_box">
            <h3 class=info_text_h3>Git Tutorials</h3>
            <img class="info_img"src="{% static 'main/img/tuto_prev.png' %}" alt="tuto_prev">
            <p class="info_desc"></p>Git Tutorials 에서는 실제 개발에서 자주 쓰이는 git 커맨드를 배워보고 이를 실제로 입력하고 버전을 관리해보는 튜토리얼 기능을 제공합니다.</p>
        </div>
        <div class="info_item_box">
            <h3 class=info_text_h3>Recommend Repository</h3>
            <img class="info_img"src="{% static 'main/img/reco_prev.png' %}" alt="reco_prev">
            <p class="info_desc"></p>Recommend Repository 에서는 입력한 검색어 기반으로 실제 Github에 올라와 있는 원격 저장소를 추천해드립니다. <br>한번 관심있는 주제를 입력하고 어떤 원격저장소들이 있는지 찾아보세요.</p>
        </div>
    </div>

</div>


<div class="item_container">
    <div id="history_box" class="subtitle_box_row subtitle_box">
        <h2 class="subtitle_text">About<br>Git</h2>
        <div class="subtitle_item_wrapper">
            <p class="subtitle_description">Git? Github? 개발자들은 다들 쓴다는데<br>왜 써야하는 걸까? <br>Git과 Github의 탄생 배경을 한 번 알아봅시다!
            </p>
            <button class="sub_item_btn" onclick="window.location.href='{% url 'history' %}'">LEARN MORE</button>
        </div>
    </div>
</div>
<div id="tutorials_container" class="item_container">
    <div id="tutorials_box" class="subtitle_box_row_reverse subtitle_box">
        <h2 class="subtitle_text">Git<br>Tutorials</h2>
        <div class="subtitle_item_wrapper">
            <p class="subtitle_description">Git은 뭐고 Github는 뭘까?<br>기본적인 Git의 명령어와 Github<br>사용법을 한 번 알아봅시다!</p>
            <button class="sub_item_btn" onclick="window.location.href='{% url 'git.html' %}'">LEARN MORE</button>
        </div>
    </div>
</div>
<div class="item_container">
    <div id="history_box" class="subtitle_box_row subtitle_box">
            <h2 class="subtitle_text">Recommend<br>Repository</h2>
        <div class="subtitle_item_wrapper">
            <p class="subtitle_description">Github에 Repository 찾기 어려워...<br>나에게 안성맞춤 Repository를 키워드로<br>추천해드립니다!</p>
            <button class="sub_item_btn" onclick="window.location.href='{% url 'repository' %}'">LEARN MORE</button>
        </div>
    </div>
</div>
<div id="footer_box">
    <p id="copyright_text">© 2022. 10사기조. all rights reserved.</p>
</div>
<script src="{% static 'main/js/main_page.js' %}"></script>
</body>
</html>