<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
{% load tags %}
    <title>My Page</title>
    <meta charset="UTF-8">
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>     <link rel="stylesheet" href="{% static 'mypage/css/mypage_style.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> 
    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
{% include 'nav.html' %}
{% block navbar %}
{% endblock %}
<div id="bookmark_count" value={{bookmark_data | length}}></div>
<div class="desktop-screen">
    <div class="mypage-head">
        <div id="mypage-title" onclick="window.location.href='{% url 'main' %}'">My Page</div>
        <div id="btn-profile-edit" onclick="window.location.href='{% url 'profile' %}'">Edit Profile</div>
    </div>
    <div class="user-detail">
        <div class="detail-box">
            <div class="title_wrap">
                <div class="detail-subtitle">👤User Profile</div>
            </div>
            <div class="user-description"><span class="user-title">Username: </span>{{ user_data.username }}</div>
            <div class="user-description"><span class="user-title">Joined: </span> {{ user_data.date_joined }}</div>
            <div class="user-description"><span class="user-title">Total visit: </span> {{ user_data.visit_count }} </div>
            {% if comment_data.result == 'failed' %}
            <div class="user-description"><span class="user-title">Total comments: </span> 0 </div>
            {% else %}
            <div class="user-description"><span class="user-title">Total comments: </span> {{ comment_data | length }} </div>
            {% endif %}
            {% if bookmark_data.result == 'failed' %}
            <div class="user-description"><span class="user-title">Total bookmark: </span>0 </div>
            {% else %}
            <div class="user-description"><span class="user-title">Total bookmark: </span>{{ bookmark_data | length }} </div>
            {% endif %}
        </div>
        <div class="detail-box">
            <div class="detail-subtitle">📌Recently Visited</div>
            {% for visit in repo_data  %}
            <div class="user-repo" onclick="window.location.href=`/detail/{{visit.id}}`"><span class="material-icons-sharp">notes</span>{{ visit.repo_name }} </div>
            {% endfor %}
        </div>

        <div class="detail-box">
            <div class="detail-subtitle">💡Recently Recommended</div>
            {% for recommand in reco_data %}
            <div class="user-recommand"onclick="window.location.href=`/detail/{{recommand.id}}`"><span class="material-icons-sharp">notes</span>{{ recommand.repo_name }} </div>
            {% endfor %}
        </div>

        <div class="detail-box">
            <div class="detail-subtitle">🖥 Written Comments</div>
            {% if comment_data.result %}
            
            {% else %}
            {% for comment in comment_data %}
                <div class="user-comments" onclick="window.location.href=`/detail/{{comment.repo_id}}`" ><span class="material-icons-sharp">chat</span>{{comment.content}}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <h1 id="bookmark-title">Bookmarked Repositories</h1>
        {% with len=bookmark_data|length%}
        {% if bookmark_data.result %}
        <div class="bookmark_is_none"> 등록되어있는 Bookmark가 없습니다. </div>
        {% else %}
        <div class="repo-container">
        <div id="length" value="{{len}}"></div>
        {% for bookmark in bookmark_data %}
        <div class="repo-card" onclick="window.location.href='/detail/{{bookmark.repo.id}}'">
            <img class="repo-image" id="{{forloop.counter}}" value="{{ bookmark.repo.language }}"></img>
            <div class="repo-summary">
                <div class="repo-items"><span class="material-icons-outlined">person</span>{{ bookmark.repo.full_name | split:'/' }}</div>
                <div class="repo-items"><span class="material-icons-outlined">article</span>{{bookmark.repo.repo_name}}</div>
                <div class="repo-items"><span class="material-icons-outlined">star_outline</span>{{bookmark.repo.stars}}</div>
                {% if bookmark.repo.language and bookmark.repo.language != 'None' %}
                <div class="repo-items"><span class="material-icons-outlined">public</span>{{bookmark.repo.language}}</div>
                {% else %}
                <div class="repo-items"><span class="material-icons-outlined">public</span> </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

        {% endif %}
        {% endwith %}
</div>

<script src="{% static 'mypage/js/mypage.js' %}"></script>

</body>
</html>