{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link href="{% static 'tutorial/css/practice_push.css' %}" rel="stylesheet">
{% endblock %}
{% include 'nav.html' %}
{% block navbar %}
{% endblock %}
{% block theme %}
    <a href="/" style="text-decoration:none; color: white; cursor: pointer;">Git Tutorial</a>
{% endblock %}
{% block index %}
     <div>
        <button id="index-btn" onclick="click_btn('answer')">Command</button>
        <div class="answer" id="answer">
            <li>git init</li>
            <li>git add .</li>
            <li>git commit -m "commit message"</li>
            <li>git remote add origin https://github.com/me/my_repo.git</li>
            <li>git remote -v</li>
            <li>git push origin main</li>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="contents-wrap">
    <div class="question">
        <p>Working directory에서 작업 중인 파일,폴더를 원격 저장소에 push해봅시다.<br>
            원격 저장소의 주소는 https://github.com/me/my_repo.git입니다.<br>
            우선 로컬 저장소를 초기화 해주세요.</p>
    </div>

    <div class="flow-container">
        <div id="work-dir" class="box">
            <h4>Working directory</h4>
            <p>🗈 app.py</p>
            <p>📁 templates</p>
            <p>📁 static</p>
        </div>
        <div id="stage" class="non-box">
            <h4>Staging area</h4>
            {#            <div id="inner_stage">#}
            {#            </div>#}
        </div>
        <div id="local-repo" class="non-box">
            <h4>Local Repository</h4>

        </div>
        <div id="remote-repo" class="box">
            <h4>Remote Repository</h4>
        </div>
    </div>
    <hr>
    <div id="box-wrap">
        <form method="post" id="form">
            {% csrf_token %}
            <div id="command-head"><span style="color: lawngreen"> me@work</span><span
                    style="color: deeppink">  MINGW64 ~</span>
            </div>
            <input type="text" id="command" autocomplete="off">
            <button type="submit">Enter</button>
        </form>
        <div id="result-box">
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        const form = document.getElementById('form')
        form.addEventListener('submit', (e) => {
            e.preventDefault()

            const data = new FormData()
            data.append('command', document.getElementById('command').value)
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            axios.post('', data)
                .then(response => {
                    let msg = response.data['msg']
                    let command = response.data['command']

                    let msg1 = msg.split('?')[0]
                    let hint = msg.split('?')[1]
                    if (hint === undefined) {
                        hint = ''
                    }
                    document.getElementById('result-box').innerHTML = `<p>${msg1}</p>
                                                                        <p>${hint}</p>`

                    switch (command) {
                        case 'init':
                            console.log('init!!')
                            let nonbox = document.getElementsByClassName('non-box')
                            for (let i = 0; i < nonbox.length; i++) {
                                nonbox[i].style.backgroundColor = "lightskyblue"
                            }
                            break;

                        case 'add':
                            document.getElementById('stage').innerHTML += `<p>🗈 app.py</p>
                                                                            <p>📁 templates</p>
                                                                            <p>📁 static</p>`
                            break;
                        case 'commit':
                            console.log(command)
                            let commit_msg = response.data['commit_msg']
                            console.log(commit_msg)

                            document.getElementById('local-repo').innerHTML += `<p>commit: ${commit_msg}</p>`
                            break;
                        case 'push':
                            document.getElementById('remote-repo').innerHTML += `<p>🗈 app.py</p>
                                                                                <p>📁 templates</p>
                                                                                <p>📁 static</p>`
                            break
                    }
                    document.getElementById('command').value = '';
                    
                })
                
                .catch(error => {
                    console.log(error)
                })
        })


        $(document).ready(() => {
            $('.answer').hide()

        })

        function click_btn(name) {
            $(`#${name}`).toggle()

        }
    </script>
{% endblock %}
