{% extends 'base.html' %}
{% load static %}
{% block static %}

<link href="{% static 'tutorial/css/tutorial_page.css' %}" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/x-icon">

{% endblock %}

{% block theme %}
Git Tutorial
{% endblock %}

{% block index %}
<div>
    <button class="title-btn" onclick="click_btn('start_git')">Start Git</button>
    <div class="subtitle" id="start_git">
        <li><a onclick="click_subtitle('git')">Git?</a></li>
        <li><a onclick="click_subtitle('git_word')">Git 용어 정리</a></li>
        <li><a onclick="click_subtitle('git_install_start')">Git 설치 및 시작</a></li>
    </div>
</div>
<div>
    <button class="title-btn" onclick="click_btn('learn_git')">Learn Git</button>
    <div class="subtitle" id="learn_git">
        <li><a onclick="click_subtitle('commit')">Commit</a></li>
        <li><a onclick="click_subtitle('branch')">Branch</a></li>
        <li><a onclick="click_subtitle('push_pull_fetch')">Push/Pull/Fetch</a></li>
    </div>
</div>
<div>
    <button class="title-btn" onclick="click_btn('start_github')">Start GitHub</button>
    <div class="subtitle" id="start_github">
        <li><a onclick="click_subtitle('github')">GitHub?</a></li>
        <li><a onclick="click_subtitle('github_issue')">Github Issue</a></li>
        <li><a onclick="click_subtitle('github_pr')">Pull requests</a></li>

    </div>
</div>
<div>
    <button class="title-btn" onclick="click_btn('practice_git')">Practice Git</button>
    <div class="subtitle" id="practice_git">
        <li><a href="tuto/" style="text-decoration:none;color: black;">Practice push</a></li>

    </div>
</div>
{% endblock %}
{% block content %}

<div id="intro">
    <h1>Intro</h1>
    <p>Git은 무엇이고, Github는 무엇인지 분명하게 감이 안오시는 분들! 잘 오셨습니다.<br><br>
        본 페이지에서는 Git의 기본 명령어와 Github에서 제공하는 기본 기능들을 다룹니다.<br><br>
        Git의 기본적인 사용법을 알고, Practice를 통해 Git과 친해지는 시간을 가져봅시다.
    </p>

</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(() => {
        $('.subtitle').hide()

    })

    function click_btn(name) {
        $(`#${name}`).toggle()

    }

    function click_subtitle(name) {
        fetch(name).then(function (response) {
            response.text().then(function (text) {
                document.getElementById('contents-container').innerHTML = text;
            })
        })

    }

</script>
{% endblock %}