.index-btn {
    background-color: transparent;
    width: 90%;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 20px;
    margin-bottom: 8%;
}

.contents-wrap {
    width: 80%;
    max-width: 800px;
    margin: 3% auto;
    font-size: 75%;
}

.answer {
    width: 90%;
    margin: auto;
    /*div 넘어가지 않게해줌*/
    word-break: break-all;

}

.question {
    font-size: 0.9em;
    font-weight: bold;
    margin: 2% 2%;
}

.flow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.non-box {
    width: 30%;
    height: 20vh;
    background-color: transparent;
    margin: 3% 2%;
    border-radius: 5px;
    border: black solid 2px;
}

.non-box > .box-name {
    height: 7vh;
    margin: auto;
    text-align: center;
    color: black;
    font-weight: bolder;

}

.non-box > p {
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    margin-left: 2%;
}

.box {
    width: 30%;
    height: 20vh;
    background-color: lightslategrey;
    margin: 3% 2%;
    border-radius: 5px;
    border: black solid 2px;
}

.box > .box-name {
    height: 7vh;
    margin: auto;
    text-align: center;
    color: black;
    font-weight: bolder;
}

.box > p {
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    margin-left: 2%;
}


#box-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#form{
    width: 15vw;
    margin-left: 2%;
    margin-right: 2%;
}

#command-head {
    font-size: 0.7em;
    background-color: black;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

#command {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 0.7em;
    width: 100%;
    box-sizing : border-box;
    height: 15vh;
    border-radius: 0 0 5px 5px;
}

#result-box-wrap{
    width: 15vw;
    margin-right: 2%;

}
#result-box {
    height: 15.5vh;
    background-color: #1b1a2a;
    color: white;
    font-size: 0.7em;
    padding: 2% 2%;
    border-radius: 5px;
    border: black solid 2px;

}
#answer > li{
    list-style: lower-roman;
}